<!DOCTYPE html>
<html>

<head>
    <script>
        function FunktionAlert() {
            alert("{{ClickTest}}");
        }
    </script>
</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <hr>
    <hr>
    <div class="container-fluid">
        <span class="oi" data-glyph="browser"></span>
        <app-header></app-header>
        <app-start-page></app-start-page>
        <app-contact-form></app-contact-form>
        <app-posts></app-posts>
        <app-footer></app-footer>
    </div>
    <hr>
</body>

</html>